/*Header*/
#logo {
    height: 40px;           /*taille et emplacement logo*/
    margin-top: 40px;
    margin-bottom: 40px;
}
#banniere
{
    display: flex; 
    justify-content: space-between;
}
#menu 
{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-right: 10px;
}
header a 
{
    text-decoration: none;
    color: black;
    padding-right: 25px;
}
#menu a:hover                       /*Liens au survol*/
{
    color: blue;
    border-top: 2px blue solid;
    padding-top: 40px;
}
#inscription
{
    color: blue;
    font-weight: bolder;
}

/*Section 1*/

/*Section 2*/

/*Section 3*/

/*Footer*/
