@font-face
{
    font-family:"Raleway";                                          /*mise en place de la police*/
        src:url("police/Raleway-Medium.ttf");
}
*
{
    font-family: 'Raleway','Times New Roman', Times, serif;
}
a                                                                                 /*tous les liens de page*/
{
    text-decoration: none;
    color: black;
}
.titre, .price, .nomspop, #section_activites p, footer h3                                               /*tout le texte en gras*/
{
    font-weight: bold;
}
/*Header*/
#logo                                                                        /*taille et emplacement logo*/ 
{
    width: 100px; 
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
#banniere
{
    display: flex; 
    justify-content: space-between;
    width: 1425px;
}
#menu 
{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-right: 75px;
}
header a                                    /*écriture des liens du menu*/
{
    text-decoration: none;
    color: black;
    font-size: 100%;
    margin-left: 15px;
    padding-right:25px;
    padding-left: 25px;
}
#menu a:hover                                /*Liens au survol*/                                                                                        
{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 50px;
}
#inscription 
{
    color: #0065FC;
    font-weight: bolder;
}
#titre
{
    margin-left: 50px;
}
h1                                          /*titre principal*/
{
    font-size: 26px;                                                                                                                                        
    font-weight: bold;
}
#titre p                                    
{
    font-size: 16px;                                                          
    margin-left: 0px;
}
#recherche
{
    display: flex;
}
#localisation                                                 /*modif de l'icone rechercher*/
{
    display: inline-block;
    text-align: center;
    line-height: 50px;                                                                                                                                             
    border: 1px solid #F2F2F2;
    border-radius: 20px 0 0 20px;
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    font-size: 20px;                                                                                                                                  
}     
form
{
    display: flex;
    width: auto;
}
#search                                                     /*modification de la barre de recherche*/
{
    border: 1px solid #F2F2F2;
    height: 50px;
    width: 230px;
    font-size: 20px;                                                                                                                                                
    font-weight: bold;
    padding-left: 15px;
}
#bouton                                                     /* modification du bouton rechercher*/ 
{
    border: 1px solid #0065FC;
    border-radius: 0 20px 20px 0;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 135px;
    font-size: 18px;                                                                                                                                           
}
#loupe                                                      /*bouton recherche caché pour version mobile*/
{
    color: white;
    background-color: white;
}
#filtres                                                                 /*filtres*/ 
{
    display: flex;
    vertical-align: middle;
    margin-top: 30px;
    margin-left: 50px;
    width: 100%;
    font-weight: bold;
}
#filtres h2 
{
     font-size: 18px;
}
#filtres ul                                                          /*paragraphes des filtres*/ 
{
    display: flex;
    text-align: center;
    height: 40px;
    width: 150%;
    font-size: 18px;
    margin-left: 30px;
}
#filtres a
{
    margin-left: 0px;
}
#filtres li 
{
    list-style-type: none;
    border: 2px solid #F2F2F2;
    border-radius:25px;
    margin-right: 25px;
    height: 50px;
 }
#filtres i                                                      /*icones des filtres*/ 
{
    font-size: 20px;
    line-height:50px;
    border: 1px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    color: #0065FC;
    margin-right: 15px;
    margin-left: -30px;
    margin-top: -2px;
}
#filtres li:hover
{
    background-color:#DEEBFF;
}
#info                                                                                 /*ligne information*/
{
    display: flex;
    align-items: center;
}
#info p 
{
    padding-left: 0.5%;
    margin-left:10px;
}
#info i
{
    color:#0065FC;                                  
    margin-left: 50px;
    font-size: 15px;
}
.fas                                                            /*étoiles*/
{
    color: #0065FC;
    font-size: 10px;
}
#fas2
{
    color:#F2F2F2;
}
#partie_haute                                        /*section1 +section populaires*/
{
    display: flex;
    margin: 35px 50px 60px 50px;
}
/*section 1*/
#section_one                                        /*titre articles et bouton*/
{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    border-radius: 3%;
    background-color: #F2F2F2;
    width: 880px;
    height: 620px;
}
#section_one h2                                    /*titre*/
{
    width : 96%;
    height:3%;
    margin-left: 40px;
    margin-top:40px;
    margin-bottom: 20px;
}
#groupe_hebergement                      /*ensemble articles*/
{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-left: 40px;
}
.hebergement                                /*par article*/ 
{
    border: 1px solid white;
    border-radius: 8%;
    background-color: white;
    width: 245px;
    height: 200px;
    margin-bottom: 30px;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(97,97,97);
}
#section_one figure                                         /*image + texte*/
{
    margin-left: 4px;
    margin-top: 4px;
    margin-right:4px;
    overflow: hidden;
    border-radius: 9%;
    width: 235px;
    height:190px;
}
#section_one figcaption                                         /*texte + étoiles 1ere ligne*/
{
    position: relative;
    top: -53px;
    background-color: white;
    padding-left: 10px;
    border: 1px solid white;                                                                      
}
.img                                                                     /*images 1ere ligne*/ 
{
    position: relative;
    top: -25px;
    left: -5px;
    width: 245px;
    border-radius: 8%;
}
#section_one #hotel_mer                                     /*texte + étoiles 2e ligne*/
{
    position: relative;
    top: -115px;
    background-color: white;
    padding-left: 10px;
    border: 1px solid white;
}
#section_one #panier 
{
    position: relative;
    top: -25px;
    background-color: white;
    padding-left: 10px;
    border: 1px solid white;
}
#section_one #hotel_amina 
{
    position: relative;
    top: -255px;
    background-color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
}
.img_mer                                            /*images 2e ligne*/ 
{
    position: relative;
    top: -50px;
    left: -5px;
    width: 245px;
    border-radius: 8%;
}
.img_panier 
{
    position: relative;
    top: -15px;
    left: -5px;
    width: 245px;
}
.img_amina 
{
    position: relative;
    top: -125px;
    left: -5px;
    width: 245px;
    border-radius: 8%;
}
#section_one p                                  /*texte des hébergements*/
{
    font-size: 14px;
    margin: auto;
    margin-top: 8px;
}
#afficher                                        /*bouton afficher*/
{
    border: none;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
    background-color: #F2F2F2;
}
/*section populaires*/
#section_populaires                                         /*titre articles et fleche*/ 
{
    display: flex;
    flex-direction:column;
    border: 1px solid #F2F2F2;
    border-radius: 3%;
    background-color: #F2F2F2;
    width: 420px;
    height: 620px;
    margin-left: 40px;
}
#section_populaires h2                                   /*titre*/ 
{
     width: 345px;
     margin: 40px 40px 25px 35px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 24px;
}
#fleche                                                             /*icone*/ 
{
    color: black;
    font-size: 20px;
}
.pop                                                                   /*par article*/ 
{
    border: 1px solid white;
    border-radius: 8%;
    background-color: white;
    width: 345px;
    height: 145px;
    margin: auto;
    margin-left: 35px;
    margin-bottom: 8%;
    box-shadow: 3px 3px 5px rgb(97,97,97);
}
#section_populaires figure                              /*texte + image*/
{
    width: 335px;
    height: 135px;
    margin: 4px 4px 4px 4px;
    border-radius: 8%;
    overflow: hidden;
}
#section_populaires figcaption                                  /*hotel du matin--texte*/
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    height: 140px;
    top: -140px;
    right: -130px;
    background-color: white;                                                                     
    padding-left: 20px;
}
#section_populaires #hotes                                  /*2e--texte*/
{
    top: -160px;
}
#section_populaires #bleu_blanc                           /*3e--texte*/
{
    top: -210px;
}
.nomspop                                                                /*noms hôtel*/
{
    font-size: 14px;
    margin-right: 60px;
    margin-bottom: 10px;
}
.textepop                                                               /*texte hôtel*/
{
    font-size:14px;
    margin-top: -5px;
    font-weight: normal;
}
.price
{
    font-weight:bold;
}
.etoiles                                                                     /*étoiles*/
{
    margin-left: 20px;
}
.img_pop                                            /*images hotel du matin et chambre d'hôtes*/                                       
{
    float: left;
    position: relative;
    top: -5px;
    left: -40px;
    width: 210px;
    border-radius: 8%;
}
.img_pop2                                                               /*image hôtel tout bleu et blanc*/
{
    float: left;
    position: relative;
    top: -40px;
    left: -5px;
    width: 140px;
    border-radius: 8%;
}
/*Section activités*/
#section_activites                                                 /*l'ensemble*/
{
    border: 1px solid white;                                                                   
    display: flex;
    flex-wrap:wrap;
    margin-left: 25px;
    margin-top: 3%;
    width: 1425px;
}
#section_activites h2                                           /*titre*/
{
    width:100%;
    margin-left: 25px;
    margin-bottom: 25px;
}
.grande                                                                 /*colonne 1 et 3*/ 
{
    border-radius: 8%;
    box-shadow: 3px 3px 5px rgb(97,97,97);
    height: 445px;
    width: 300px;
    margin-left: 25px;
    margin-right: 40px;
    overflow: hidden;
}
.grande figcaption                                  
{
    border: 1px solid white;                                /*texte port et calanques*/
    width: 300px;
    height: 100px;
    background-color: white;
    position: relative;
    top: -75px;
    left: -40px;
}
.img_grd                                                                /*image port et calanques*/ 
{
    width: 650px;
    position: relative;
    left: -220px;
    top: -20px;
}
.petite                                                                 /*colonne 2 et 4*/
{
    border: 1px solid white;
    width: 300px;
    height: 445px;
    margin-right: 40px;
}
.box_moyenne                                                        /*article Pomegues*/
{
    width: 300px;
    height: 225px;
    border-radius: 8%;
    box-shadow: 3px 3px 5px rgb(97,97,97);
    padding-bottom: 3%;
    margin-bottom: 40px;
    overflow: hidden;
}
#pomegues                                                               /*texte pomegues*/
{
    position: relative;
    background-color: white;
    width: 300px;
    height: 65px;
    top: -300px;
    left: -40px;
    border: 1px solid white;
}
.img_moyenne                                                            /*image pomegues*/
{
    width: 300px;
    position: relative;
    left: -40px;
    top: -130px;
}
#frioul                                                         /*articles iles du frioul*/               
{
    width: 300px;
    height: 165px;
    border-radius: 8%;
    box-shadow: 3px 3px 5px rgb(97,97,97);                                                                     
    margin-bottom: 40px;
    overflow: hidden;
}
#texte_frioul                                          /*texte iles du frioul*/
{
    position: relative;
    background-color: white;
    width: 300px;
    height: 65px;
    top: -120px;
    left: -40px;
    border: 1px solid white;
}
#img_frioul                                                               /*image iles du frioul*/ 
{
    position: relative;
    background-color: white;
    width: 310px;
    height: 200px;
    top: -40px;
    left: -45px;
    border: 1px solid white;
}
.box_intermediaire                                                              /*articles notre dame et longchamps*/
{
    width: 300px;
    height: 200px;;
    border-radius: 8%;
    box-shadow: 3px 3px 5px rgb(97,97,97);
    margin-bottom: 40px;
    overflow: hidden;
}
.droite                                                                                 /*texte notre dame et longschamps*/
{
    position: relative;
    background-color: white;
    width: 300px;
    height: 65px;
    top: -90px;
    left: -40px;
    border: 1px solid white;
}
.img_droite                                                                 /*images notre dame et longchamp*/
{
    position: relative;
    background-color: white;
    width: 310px;
    height: 200px;
    top: -25px;
    left: -45px;
    border: 1px solid white;
}
p                                                                           /*texte pour tous*/
{
    margin-left: 20px;
    margin-top: 20px;
}
/*Footer*/
footer                                              /*le tout*/
{
    display: flex;
    justify-content: space-around;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    margin-top: 45px;
    padding-bottom: 50px;
    width: 1435px;
}
footer nav                                                 /*chaque partie*/
{
    display: flex;
    flex-direction: column;
    margin-right: 220px;
    margin-top: 20px;
    margin-left: 25px;
}
footer li                                           /*listes*/
{
    list-style-type: none;
    line-height: 2;
}
ul                                                  /*la liste*/
{
    padding-left: 0%;
    margin-top: 0%;
}
/*version mobile 320px*/
@media screen and (max-device-width: 480px) 
{
    /*Header*/
    #banniere
    {
        max-width: 374px;
        max-height: 130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 15px;
    }
    #logo
    {
        margin-top: 25px;
        margin-left: 20px;
        margin-bottom: 35px;
        margin-right: 0px;
    }
    #inscription
    {
        position: absolute;
        top: 55px;
        right: 0px;
        border-top: 0 !important;
        padding-top: 0 !important;
    }
    .groupe 
    {
        padding-left: 40px;
        padding-right: 50px;
        margin-left: 0px;
    }
    .groupe:hover 
    {
        color: #0065FC;
        border-bottom: 2px #0065FC solid;
        border-top: 0 !important;
        padding-bottom: 18px;
    }
    /*titre principal*/
    #titre
    {
        margin-left: 20px;
    }
    h1 
    {
        font-size: 23px;
        margin-bottom: 15px;
    }
    #bouton
    {
        max-width: 50px;
        border-radius: 10px;
    }
    #loupe 
    {
        min-width: 50px;
        min-height: 50px;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid #0065FC;
        background-color: #0065FC;
        color: white;
        position: absolute;
        left: 310px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
    }
    /*filtres*/
    #filtres
    {
        margin-left: 20px;
        max-height: 210px;
        display: flex;
        flex-wrap: wrap;
    }
    #filtres h2
    {
        margin-top: 0px;
        margin-bottom: 0px;
        max-width: 374px;
        max-height: 20px;
    }
    #filtres nav
    {
        margin-top: 0px;
        max-width: 374px;
        max-height: 175px;
    }
    #filtres ul
    {
        max-width: 370px;
        min-height: 175px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    #filtres li
    {
        margin-right: 8px;
        margin-bottom: 10px;
    }
    #filtres a 
    {
        padding-right:15px;
    }
    #filtres i
    {
        margin-right: 8px;
    }
    /*ligne information*/
    #info
    {
        max-width: 360px;
    }
    #info i
    {
        margin-left: 0px;
        margin-right: 10px;
        font-size: 20px;
    }
    #info p
    {
        max-width: 300px;
        margin-top: 30px;
    }
    /*section partie haute= section populaires et section hébergements*/
    #partie_haute
    {
        display: flex;
        flex-direction: column-reverse; 
    }
    /*section populaire*/
    #section_populaires
    {
        margin-left: -60px;
        margin-top: -20px;
        max-width: 370px;
        border-radius: 0%;
    }
    #section_populaires h2
    {
        margin-left: 20px;
        max-width: 330px;
    }
    .pop
    {
        margin-left: 20px;
        max-width: 330px;
        overflow: hidden;
    }
    /*section one*/
    #section_one
    {
        max-width: 370px;
        min-height: 1390px;
        background-color: white;
        border-radius:0%;
        margin-left: -60px;
        border: 1px solid white;
    }
    #section_one h2
    {
        min-height: 25px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    #groupe_hebergement
    {
        margin-left: 0px;
    }
    .hebergement                                        /*par article d'hébergement*/
    {
        min-width: 335px;
        margin-left:20px;
        margin-bottom: 10px;
    }
    #groupe_hebergement figure 
    {
        min-width: 325px;
        max-height: 200px;
        margin: 5px 5px 5px 5px;
    }
    #groupe_hebergement figcaption 
    {
        max-height: 90px;
        top: -100px;
    }
    .img                                                            /*3ere images*/
    {
        min-width: 340px;
        min-height: 200px;
        top: -50px;
    }
    #section_one #hotel_mer
    {
        top: -206px;
    }
    .img_mer, .img_panier, .img_amina
    {
        min-width: 340px;
    }
    .img_mer
    {
        left: -10px;
        top: -101px;
    }
    #section_one #panier
    {
        top: -80px;
    }
    .img_panier
    {
        left: -10px;
        top: -40px;
    }
    #section_one #hotel_amina
    {
        top: -400px;
    }
    .img_amina
    {
        top: -200px;
    }
    #section_one p
    {
        font-size: 16px;
    }
    #section_one i
    {
        font-size: 12px;
    }
    #afficher
    {
        margin-left: 20px;
        background-color:white;
    }
    /*section activités*/
    #section_activites
    {
        display:flex;
        flex-direction: column;
        max-width: 360px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    #section_activites h2
    {
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 0px;
    }
    .grande, .box_moyenne, .box_intermediaire, #frioul
    {
        min-width: 335px;
        max-height: 190px;
        margin-left: 15px;
        margin-top: 25px;
        overflow: hidden;                                                                      
    }
    .grande figcaption, #pomegues, #texte_frioul, .droite
    {
        width: 345px;
        left: -45px;
    }
    .grande figcaption
    {
        top: -120px;
    }
    .img_grd
    {
        width: 350px;
        left: -50px;
        top:-40px;
    }
    #pomegues
    {
        top: -390px;
    }
    .img_moyenne
    {
        width: 340px;
        top: -170px;
    }
    #texte_frioul
    {
        top: -110px; 
    }
    #img_frioul
    {
        width: 350px;
        top: -40px;
    }
    .droite
    {
        top:-95px;
    }
    .img_droite
    {
        width: 340px;
        left: -45px;
        top: -20px;
    }
    /*footer*/
    footer
    {
        min-width: 370px;
        display: flex;
        flex-direction:column;
        padding-bottom: 40px;
    }
    footer nav
    {
        min-width: 300px;
        margin-bottom: 20px;
    }
    footer h3
    {
        margin-top: 0px;
    }
}
@media screen and (max-width:1024px) {
    /*header*/
    #banniere {
        max-width: 760px;
        max-height: 200px;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 3px solid #F2F2F2;
    }

    #logo {
        width: 200px;
        height: 100px;
        margin: 10px 300px 30px 30px;
    }

    #menu {
        width: 750px;
        margin: 0px;
        padding-bottom: 20px;
        font-size: 20px;
        justify-content: space-around;
    }

        #menu a {
            margin: 0px;
            padding-right: 80px;
            padding-left: 80px;
        }

            #menu a:hover {
                border-top: 0 !important;
                border-bottom: 1px solid #0065FC;
                padding-bottom: 20px;
            }

    #titre {
        max-width: 760px;
        margin-left: 30px;
    }

    h1 {
        font-size: 22px;
    }

    #titre p {
        font-size: 18px;
    }

    #localisation {
        width: 70px;
        height: 70px;
        font-size: 25px;
        line-height: 70px;
    }

    #search {
        height: 70px;
        width: 270px;
    }

    #bouton {
        height: 70px;
        width: 160px;
        padding-left: 30px;
    }

    #loupe {
        width: 30px;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
        background-color: #0065FC;
        position: relative;
        left: -150px;
    }
    #filtres 
    {
        max-width: 750px;
        margin-left: 0px;
        display: flex;
        flex-wrap:wrap;
    }
    #filtres h2
    {
        max-width: 300px;
        margin-left: 40px;
        font-size: 22px;
    }
    #filtres ul
    {
        width: 750px;
        margin-left: 0px;
        justify-content: space-around;
    }
    #filtres li
    {
        font-size: 15px;
        margin: auto;
    }
    #filtres i
    {
        margin-left: -40px;
        margin-right: 0px;
    }
    #info
    {
        margin-top: 10px;
    }
    #info p
    {
        font-size: 15px;
    }
    #info i
    {
        margin-left: 30px;
    }
    #partie_haute                                               /*section populaires avant hébergements*/
    {
        display: flex;
        flex-direction: column-reverse;
    }
    /*section populaires*/
    #section_populaires
    {
        min-width: 768px;
        height: 320px;
        margin-left: -60px;
        border-radius: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #section_populaires h2
    {
        width: 760px;
        height: 30px;
        margin-top: 20px;
    }
    #fleche
    {
        font-size: 25px;
    }
    .pop 
    {
        width: 245px;
        height: 200px;
        margin: auto;
        margin-top: 0px;
    }
    #section_populaires figure 
    {
        margin: 4px 4px 4px 4px;
        overflow: hidden;                                                      /*hidden*/
        border-radius: 9%;
        width: 235px;
        height: 190px;
    }
    #section_populaires figcaption 
    {
        width: 220px;
        height: 80px;
    }
    #section_populaires #soleil, #section_populaires #hotes, #section_populaires #bleu_blanc
    {
        position: relative;
        left: -5px;
    }
    #section_populaires #soleil
    {
        top: -55px;
    }
    #section_populaires #hotes
    {
        top: -75px;
    }
    .img_pop
    {
        width: 250px;
        position: relative;
        left: 0px;
        top: -35px;
    }
    #section_populaires #bleu_blanc
    {
        top: -265px;
    }
    .img_pop2
    {
        width: 250px;
        top: -140px;
    }
}

